In [2]:
import pandas as pd
import json
from sqlalchemy import create_engine

In [3]:
with open('yelp_academic_dataset_business.json', 'r', encoding = 'utf-8') as f:
    business_data = [json.loads(line) for line in f]
business_df = pd.DataFrame(business_data)

In [4]:
with open('yelp_academic_dataset_checkin.json', 'r', encoding = 'utf-8') as f:
    checkin_data = [json.loads(line) for line in f]
checkin_df = pd.DataFrame(checkin_data)

In [6]:
with open('yelp_academic_dataset_tip.json', 'r', encoding = 'utf-8') as f:
    tip_data = [json.loads(line) for line in f]
tip_df = pd.DataFrame(tip_data)

In [12]:
def read_large_json(file_path):
    with open(file_path, 'r', encoding='utf-8') as f:
        for line in f:
            yield json.loads(line)

review_data = []
file_path = r'C:\Users\patra\Downloads\yelp_dataset\yelp_academic_dataset_review.json'

for record in read_large_json(file_path):
    review_data.append(record)
    if len(review_data) >= 10000:  # Adjust the chunk size as needed
        review_df = pd.DataFrame(review_data)
        # Process or save the chunk
        # review_df.to_csv('review_data_chunk.csv', mode='a', header=False, index=False)
        review_data = []  # Clear the list to free up memory

# Handle any remaining data
if review_data:
    review_df = pd.DataFrame(review_data)
    # Process or save the remaining data

In [13]:
def read_large_json(file_path):
    with open(file_path, 'r', encoding='utf-8') as f:
        for line in f:
            yield json.loads(line)

user_data = []
file_path = r'C:\Users\patra\Downloads\yelp_dataset\yelp_academic_dataset_user.json'

for record in read_large_json(file_path):
    user_data.append(record)
    if len(user_data) >= 10000:  # Adjust the chunk size as needed
        user_df = pd.DataFrame(user_data)
        # Process or save the chunk
        # review_df.to_csv('review_data_chunk.csv', mode='a', header=False, index=False)
        user_data = []  # Clear the list to free up memory

# Handle any remaining data
if user_data:
    user_df = pd.DataFrame(user_data)
    # Process or save the remaining data

In [14]:
print(business_df.shape)

(150346, 14)

In [15]:
print(review_df.shape)

(280, 9)

In [16]:
print(user_df.shape)

(7897, 22)

In [17]:
business_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [18]:
business_df.drop(['attributes', 'hours'], axis=1, inplace=True)

In [19]:
engine = create_engine('sqlite:///yelp.db')

def load_dataframe(df, table_name, engine):
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)
    
#Load each DataFrame into a separate table
load_dataframe(business_df, 'business', engine)
load_dataframe(review_df, 'review', engine)
load_dataframe(user_df, 'user', engine)
load_dataframe(tip_df, 'tip', engine)
load_dataframe(checkin_df, 'checkin', engine)